
@model RegisterVM

<h1>Utwórz użytkownika</h1>
<a asp-action="Index">Cofnij</a>
<div asp-validation-summary="All"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <button type="submit">Utwórz</button>
</form>